<div class="container">
	<div class="row justify-content-center my-2">
		<div class="col-8">
			<%= simple_form_for @booking do |f| %>
				<%= f.input :date,
					 as: :string,
					 input_html: {
					 	class: "datepicker", 
					 	data: { default: "#{Date.today + @booking.service.time_to_answer + 1}", blocked: "#{(@booking.service.user.blocked_dates + @booking.service.blocked_dates).join(',')}" },
					 	label: "Escolhe a data desejada para a realização do serviço:"
					 } %>
				<%= f.input :comment, label: "Explique melhor para o #{@booking.service.user.first_name} o que você precisa:" %>
				<%= f.submit class: "btn btn-primary"%>
			<% end %>
		</div>
	</div>
</div>