<div class="container-homepage">
	<div class="home-content">
		<h1>JARBAS <%= image_tag "buttler.png", class: "title-img" %></h1>
		<p>Encontre serviços para te ajudar em casa, específicos para seu condomínio</p>
		<%= render 'shared/search' %>
	</div>	
</div>
<div class="container">
	<div class="row justify-content-center">
		<% @categories.each do |category| %>
			<div class="col-3 mb-3 mr-3">
				<div class="card" style="width: 18rem;">
					<%= image_tag("./service_categories/1_assistencia_tecnica.png", class: "card-img-top") %>
  					<div class="card-body">
    					<h5 class="card-title">Card title</h5>
    					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    					<a href="/services" class="btn btn-primary">Contrate agora!</a>
  					</div>
				</div>
			</div>
		<% end %>	
	</div>
</div>
		